body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.grid {
    display: grid;
    gap: 1rem;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

.top-box {
    grid-area: header;
    background-color: #3de07e;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    gap: 30px;
}
.top-box nav {
    width: max-content;
    margin: 20px;
    grid-row: 1;
}
.top-box h1 {
    grid-row: 2;
    width: max-content;
    margin-inline: auto;
    font-size: 70px;
}
.top-box .ninjahead {
    grid-row: 3;
    margin-inline: auto;
}


/*--- main ---*/
body > main {
    grid-area: main;
    display: grid;
    /* grid-template-columns: auto 900px auto;
    grid-template-rows: auto auto; */
    grid-template-areas:
        "side products-small side"
        "side products-big side";
    grid-template-columns: 1fr 900px 1fr;
    grid-template-rows: auto auto;
}

.side { 
    grid-area: side;
    background-color: #3de07e
}
.product-small {
    grid-area: product-small;
}

.product-big {
    grid-area: product-big;
}



/*--- footer ---*/
body > footer {
    padding-block: 20px;
    grid-area: footer;
    background-color: #444;
    color: white
}

.footer-box {
    width: 900px;
    height: max-content;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    /* background-color: #a00; */
}

.footer-box h2 { margin-bottom: 8px; }

.footer-box div { padding-bottom: 4px; }

.footer-box address { font-style: normal; }  /* Remove italic */

.footer-box .media-icons {
    display: grid;
    grid-template-columns: repeat(4, 32px);
    grid-template-rows: auto;
    gap: 20px;
}





