* { box-sizing: border-box; }
body {
    min-height: 100vh;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
}

header {
   height: 640px;
   background-color: #3de07e; 
   display: flex;
   flex-direction: column;
   justify-content: center;
   justify-content: space-between;
   align-items: center;
}

header h1 {
   font-size: 110px;
}

nav {
   margin: 30px;
   align-self: flex-start;
}

 main {
    background-color: black;
    padding: 6% 16%;
    display: flex;
    flex-direction: column;
 }

 section.posters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1 0 100%;
 }

 .poster {
    margin: 0 0 80px;
    color: white;
    flex: 0 0 31%;
    position: relative;
 }

 .poster.big {
    width: 100%;
    flex: 0 0 48%;
    background-color: white;
    color: black;
 }
    
 .poster > img {
    width: 100%;
    height: fit-content;
 }

 .poster .info-txt {
    height: 200px;;
    padding-top: 0;
    position: relative;
}

.poster:not(.big) h1 {
   font-size: 35px;
   margin-top: 16px;
   margin-bottom: 16px;
}

 .poster.big > .info-txt {
   height: 260px;;
   padding: 12px;
   padding-top: 0;
   position: relative;
}

.poster.big h1 {
   margin-bottom: 0;
   font-size: 36px;
}

.poster.big p {
   margin-bottom: 20px;
}

.poster button {
    padding: 8px 16px;
    background-color: #e83f57; 
    border: 0;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    position: absolute;
    bottom: 0;
 }

 .poster.big button {
   padding: 16px 24px;
   bottom: 16px;
 }

footer {
   height: 240px;
   padding: 6% 16%;
   padding: 30px 16%;
   background-color: #444;
   color: white;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

footer > .column {
   width: 33.33%;
}

footer ul {
   list-style: none;
   padding: 0;
}

footer a {
   color: white;
   text-decoration: none;
}

footer img {
   margin-right: 4px;
}