body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.grid {
    display: grid;
    gap: 1rem;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

.top-box {
    grid-area: header;
    background-color: #3de07e;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    gap: 30px;
}
top-box nav {
    width: max-content;
    margin: 20px;
    grid-row: 1;
}
.top-box h1 {
    grid-row: 2;
    width: max-content;
    margin-inline: auto;
}
.top-box .ninjahead {
    grid-row: 3;
    margin-inline: auto;
}

body > main {
    grid-area: main;
}
body > footer {
    padding-block: 20px;
    grid-area: footer;
    background-color: #444;
    color: white
}

.footer-box {
    width: 900px;
    height: max-content;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 260px);
    /* background-color: #eee; */
}

body > footer address { font-style: normal; }  /* Remove italic */

body > footer .media-icons {
    display: grid;
    grid-template-columns: repeat(4, 32px);
    grid-template-rows: auto;
    gap: 20px;
}





